@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');/*8-bit font family*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    font-family: 'Press Start 2P', cursive;
    color: #F2F2F9;
}
body{
    font-family: 'Press Start 2P', cursive;
    color: #F2F2F9;
    background-image: url(../media/imgs/556524.jpg);
    background-repeat: no-repeat;
    background-color: black;
    background-size: cover;
}
/*Resume Download Section*/
#resume h1{
    position: relative;
    text-align: center;
    margin-top: 10%;
    color: #004058;
}
#resume p{
    text-align: center;
}
#resDownload{
    text-align: center;
    margin-top: 100px;
}
#resume a{
    position: relative;
    color: white;
    text-transform: uppercase;
    animation: blink 1.3s infinite;
}
@keyframes blink {
    0%{
        color: #00b800;
    }
    50%{
        color: transparent;
    }
    99%{
        color: #00b800;
    }
}
/* NAVIGATION */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Press Start 2P', cursive;
    background-color: #004058;
}

.logo{
    color: #F2F2F9;
    letter-spacing: 5px;
}

.links{
    list-style: none;
    display: flex; 
    justify-content: space-around;
    width: 40%;
}
.links  a{
    color: #F2F2F9;
    text-decoration: none;

}