/*background taken from https://wallpaperaccess.com/8-bit*/
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');/*8-bit font family*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    font-family: 'Press Start 2P', cursive;
    color: #F2F2F9;
}
body{
    font-family: 'Press Start 2P', cursive;
    color: #F2F2F9;
    background-image: url("../media/imgs/556524.jpg");
    background-repeat: no-repeat;
    background-color: black;
    background-size: cover;
}
/*Resume Download Section*/
#resume h1{
    position: relative;
    text-align: center;
    margin-top: 10%;
    color: #008888;
}
#resume p{
    text-align: center;
}
#resDownload{
    text-align: center;
    margin-top: 100px;
}
#resume a{
    position: relative;
    color: white;
    text-transform: uppercase;
    animation: blink 1.3s infinite;
}
@keyframes blink {
    0%{
        color: #00b800;
    }
    50%{
        color: transparent;
    }
    99%{
        color: #00b800;
    }
}
#about{
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 2em;
    background-color: rgba(36, 33, 33,0.4);
}
#about p {
    margin: 2em;
    text-align: center;
}
#about h2{
    text-align: center;
    color: #008888;
    margin-top: 2em;
}
/*CONTACT US*/
#contact a{
    text-decoration: none;
    display: block;
    margin-top:50px;
    color: white;
}
#mail{
    text-align: center;
}
/*PROJECTS*/
#projects h2{
    text-align: center;
    color: #008888;
    margin: 2em;
}
/* NAVIGATION */
.navbar-default{
    font-family: 'Press Start 2P', cursive;
    background-color: #155040;
}
.navbar-nav li a {
    margin-right: 15px;
}